.card-league {
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-out;
  color: $font;
  opacity: 0.5;
  @media screen and ('min-width': $x-media) {
    &:hover {
      transform: scale(1.1);
      .card-league__text {
        display: block;
      }
    }
  }
  &__text {
    display: none;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: $font;
  }
}