.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 8px;
  margin-top: 18px;
  width: 100%;
  @media screen and (max-width: $max-lg-media) {
    margin-top: 12px;
  }
  @media screen and (max-width: $max-xs-media) {
    grid-template-columns: 1fr;
  }
}