.carousel {
  overflow: hidden;
  height: 100%;
  width: 100%;
  &__inner {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    transition: transform 0.3s;
  }
  &-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  &-btns {
    display: flex;
    justify-content: center;
  }
  &-arrow {
    position: absolute;
    top: 50%;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: none;
    background: inherit;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &--right {
      left: auto;
      right: 10px;
    }
    @media screen and ('min-width': $x-media) {
      &:hover {
        background: $color-main;
      }
    }
  }
  &-indicators {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    &__item {
      margin-left: 5px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: $white;
      opacity: 0.7;
      transition: 0.3s;
      cursor: pointer;
      border: none;
      &:first-child {
        margin-left: 0;
      }
      &--active {
        width: 12px;
        height: 12px;
        background: $color-main;
        opacity: 1;
      }
      @media screen and ('min-width': $x-media) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
