.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  @media screen and (max-width: $max-sm-media) {
    padding: 20px 0;
  }
  &__logo {
    display: block;
    width: max-content;
    outline: none;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    @media screen and (max-width: $max-sm-media) {
      z-index: $i-burger;
    }
  }
}