.imac {
  width: 450px;
}
.screen {
  width: 100%;
  height: 290px;
  background-color: $gray;
  background: linear-gradient(to bottom right, $gray, $gray);
  border-radius: 10px;
  overflow: hidden;
}
.black-bg {
  padding: 10px;
  height: 244px;
  background-color: $black2;
}

.display {
  margin: 0 auto;
  background: $gray;
  height: 100%;
  width: 100%;
}

.base-container {
  width: 116px;
  margin: 0 auto;
}
.top-base {
  position: absolute;
  height: 30px;
  width: 72px;
  margin: 0 21px;
  background: $black2;
}

