.info {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  &__left {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  &__title {
    font-weight: 600;
    font-size: 54px;
  }
  &__text {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
  &__navigation {
    margin-top: auto;
    margin-bottom: 30px;
  }
}