.info {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  @media screen and (max-width: $max-md-media) {
    margin-top: 1rem;
    flex-direction: column;
  }
  @media screen and (max-width: $max-sm-media) {
    margin-top: 0;
  }
  &-imac {
    position: relative;
    &__title {
      position: absolute;
      top: 10px;
      left: 10px;
      opacity: 1;
      outline: none;
      cursor: pointer;
      color: $font;
      text-decoration: none;
      @media screen and ('min-width': $x-media) {
        &:hover {
          color: $green;
          text-decoration: underline;
        }
      }
      @media screen and (max-width: $max-more-xs-media) {
        font-size: 14px;
      }
    }
    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.3;
    }
    &__play {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(-50%, -50%);
      height: 40px;
      width: 40px;
      border-radius: 50%;
      text-decoration: none;
      color: $font;
      transition: 0.3s;
      cursor: pointer;
      @media screen and ('min-width': $x-media) {
        &:hover {
          background: $green;
        }
      }
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
  }
  &__title {
    //margin-top: 2rem;
    font-weight: 600;
    font-size: 3.3rem;
    @media screen and (max-width: $max-md-media) {
      margin-top: 0;
      font-size: 3rem;
    }
    @media screen and (max-width: $max-sm-media) {
      margin-top: 0;
      font-size: 2.5rem;
    }
  }
  &__text {
    margin: 16px 0 0 0;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 140%;
    @media screen and (max-width: $max-md-media) {
      margin: 8px 0;
      font-size: 1rem;
    }
  }
  &__navigation {
    //margin-top: auto;
  }
}