.navigation {
  max-width: 850px;
  @media screen and (max-width: $max-md-media) {
    //display: none;
  }
  ul {
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    li {
      display: inline-block;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1rem;
    border-radius: 10px;
    &--active {
      background: $green;
      a {
        opacity: 0.9;
      }
    }
  }
  &__link {
    padding: 8px 16px;
    color: $white;
    opacity: 0.5;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    outline: none !important;
    &:hover {
      opacity: 0.9;
    }
  }
}