.navigation {
  max-width: 890px;
  @media screen and ('max-width': $max-md-media) {
    margin-bottom: 16px;
    height: 120px;
  }
  ul {
    display: flex;
    align-items: center;
    height: 160px;
    margin-right: 8px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    @media screen and ('max-width': $max-md-media) {
      margin-right: 0;
      height: auto;
    }
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1rem;
    border-radius: 10px;
    &--active {
      background: $green;
      a {
        opacity: 0.9;
      }
    }
  }
  &__link {
    padding: 8px 16px;
    color: $white;
    opacity: 0.5;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    outline: none !important;
    @media screen and ('min-width': $x-media) {
      &:hover {
        opacity: 0.9;
      }
    }
  }
}