.navigation {
  @media screen and (max-width: $max-md-media) {
    display: none;
  }
  ul {
    display: flex;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1rem;
    border-radius: 10px;
    &--active {
      background: $green;
      a {
        color: $black2;
      }
    }
  }
  &__link {
    padding: 8px 16px;
    color: $white;
    opacity: 0.8;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    outline: none !important;
    &:hover {
      opacity: 1;
    }
  }
}