//* {
//  transition: all 0.3s ease-out;
//}

html {
  font-size: $fs-rem-xl;
  //@media screen and (max-width: $max-lg-media) {
  //  font-size: $fs-rem-lg;
  //}
  //@media screen and (max-width: $max-md-media) {
  //  font-size: $fs-rem-md;
  //}
  //@media screen and (max-width: $max-sm-media) {
  //  font-size: $fs-rem-sm;
  //}
  //@media screen and (max-width: $max-more-xs-media) {
  //  font-size: $fs-rem-xs;
  //}
}

// comment this styles because screen width changing after get scroll content

//*::-webkit-scrollbar-thumb {
//  border-radius: 30px;
//  background: linear-gradient(180deg,#292c31 0%,#26282d 100%);
//}
//
//*::-webkit-scrollbar {
//  width: 8px;
//  background-color: transparent;
//}
//
//*::-webkit-scrollbar-track {
//  background: 0 0;
//}

.container {
  width: 100%;
  max-width: $max-container-media;
  margin: 0 auto;
  padding: 0 16px;
}

