* {
  transition: all 0.3s ease-out;
}

*::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: linear-gradient(180deg,#292c31 0%,#26282d 100%);
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background: 0 0;
}

.wrapper {
  background: $bg-main;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 16px;
}

