$green: #1e9e70;
$gray: rgba(188,201,219,.05);
$black: #1c1d22;
$black2: #131417;
//$white: #bcc9db;
$white: #efecec;

$main: $green;
$bg-main: $black;
$font: $white;


// *** Media width *** //
$xs-media: 0px;
$more-xs-media: 320px;
$md-xs-media: 360px;
$sub-sm-media: 430px;
$sub-sm-media-50: 450px;
$sub-lm-media: 486px;
$sm-media: 576px;
$more-sm-media: 706px;
$md-media: 768px;
$more-md-media: 868px;
$lg-media: 992px;
$x-media: 1024px;
$xl-media: 1200px;
$xxl-media: 1400px;

// *** Max Media width *** //
$max-xs-media: 319.99px;
$max-more-xs-media: 575.99px;
$max-sm-media: 767.99px;
$max-md-media: 1023.99px;
$max-lg-media: 1199.99px;
$min-xl-media: 1399.99px;

$max-container-media: 1359.99px;

// *** Font-sizes *** //
$fs-rem-xl: 16px;
$fs-rem-lg: 14px;
$fs-rem-md: 12px;
$fs-rem-sm: 10px;
$fs-rem-xs: 8px;

// *** Z-index *** //
$i-Burger: 100;
$i-Menu: 99;
